nav {
  min-height: 100vh;
  width: 25vw;
  background-color: lighten($tertiary, 10%);
  border-top-right-radius: $spacing-xl;
  border-bottom-right-radius: $spacing-xl;
  position: fixed;
  animation-duration: 2s;
  // background-color: linear-gradient(to right, $primary, $tertiary);
}

.nav {
  &__list {
    display: flex;
    flex-direction: column;
    margin-right: $spacing-lg;
    padding-top: $spacing-2xl;
    gap: $spacing-2xl;
    list-style: none;
  }

  &__item {
    cursor: pointer;
    border: $secondary solid 2px;
    box-shadow: -$spacing-2xs $spacing-2xs $primary;
    color: $secondary;
    font-family: $font-family;
    font-size: $spacing-sm;
    padding: $spacing-md;
    height: $spacing-2xl;
    display: flex;
    align-items: center;
    border-radius: $spacing-xs;
    transition: all 0.3s ease;
    background-color: transparent;

    a {
      text-decoration: none;
      color: inherit;
    }

    &:hover,
    &--selected {
      @extend .nav__item;
      color: $accent;
      background-color: lighten($primary, 20%);
      border-color: $accent;
      font-size: $spacing-md;
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  padding: $spacing-lg;
  height: 100vh;
  padding-left: calc(25vw + $spacing-md);
}

.container {
  padding: $spacing-xs;
}
