nav {
  min-height: 100vh;
  width: 25vw;
  background-color: $tertiary;
  border-top-right-radius: $spacing-xl;
  border-bottom-right-radius: $spacing-xl;
  position: fixed;
}

.nav {
  &__list {
    display: flex;
    flex-direction: column;
    margin-right: $spacing-lg;
    padding-top: $spacing-2xl;
    gap: $spacing-2xl;
    list-style: none;
    animation-duration: 2s;
  }

  &__item {
    cursor: pointer;
    border: $secondary solid 2px;
    color: $secondary;
    font-family: $font-family;
    font-size: $spacing-sm;
    padding: $spacing-sm $spacing-xs;
    height: $spacing-2xl;
    display: flex;
    align-items: center;
    border-radius: $spacing-xs;
    // margin: 0 $spacing-xl;

    a {
      text-decoration: none;
      color: inherit;
    }

    &:hover {
      color: $accent;
      font-size: $spacing-md;
    }

    &--selected {
      @extend .nav__item;
      color: $accent;
      font-weight: 900;
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  padding: $spacing-lg;
  height: 100vh;
  padding-left: calc(25vw + $spacing-md);
}

.container {
  padding: $spacing-xs;
}
