.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

nav {
  height: 100vh;
  width: clamp(10%, 20vh, 30%);
  background-color: $tertiary;
}

main {
  display: flex;
  flex-direction: column;
  padding: $spacing-lg;
  height: 100%;
  width: 100%;
}

.nav {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: $spacing-2xl;
  gap: $spacing-2xl;
  list-style: none;
  height: 100%;
  width: 100%;

  &__item {
    cursor: pointer;
    border: $secondary solid 2px;
    color: $secondary;
  }
}
