@import './_variables.scss';
@import './_reset.scss';
@import './ui.scss';
@import './commons.scss';
@import './fileUpload.scss';
@import './transcription.scss';

:root {
  font-family: $font-family;
}

h1,
h2,
h3 {
  font-family: $font-family-title;
}

h1 {
  font-size: $spacing-xl;
}

h2 {
  font-size: $spacing-lg;
}

body {
  background-color: $primary;
  font-size: $spacing-md;
  min-height: 100vh;
}
