// @import './variables';

.btn {
  cursor: pointer;
  border: $primary solid 2px;
  border-radius: $spacing-xs;
  transition: all 200ms ease-in-out;
  max-width: 15vw;
  padding: 0 $spacing-2xs;

  &:hover {
    color: $secondary;
    background-color: $primary;
    border: $secondary solid 2px;
  }

  &-primary {
    @extend .btn;
    color: $secondary;
    background-color: $tertiary;
  }

  &-secondary {
    @extend .btn;
    background-color: $secondary;
    color: $accent;
  }
}
