// @import './variables';

.btn {
  color: $secondary;
  cursor: pointer;
  border: $primary solid 2px;
  border-radius: $spacing-xs;
  transition: all 200ms ease-in-out;
  max-width: 15vw;

  &-primary {
    @extend .btn;
    background-color: $tertiary;

    &:hover {
      background-color: $primary;
      border: $secondary solid 2px;
    }
  }
}
